services:
  selenium-hub:
    image: selenium/hub:4.16.0
    container_name: selenium-hub
    ports:
      - "4444:4444"

  chrome:
    image: selenium/node-chrome:4.16.0
    shm_size: 2gb
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_OVERRIDE_MAX_SESSIONS=true
      - SE_NODE_MAX_SESSIONS=2
    volumes:
      - /dev/shm:/dev/shm

  tests:
    build: .
    container_name: aqa-tests
    depends_on:
      - selenium-hub
      - chrome
    environment:
      - SELENIDE_REMOTE=http://selenium-hub:4444/wd/hub
      - SELENIDE_BROWSER=chrome